html {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

.clear {
    clear:both;
    line-height:0;
}
.container{
    min-height: 100vh;
    min-width: 100vw;
}
body {
  margin: 0;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  width: 100%;
  height: 100%;
  min-height:100vh;
}

.navbar-toggler {
background: rgb(115, 136, 124);
}

.ch-color {
    color: purple !important;
}

.preview {
    position: absolute;
    height: calc(100% - 55px);
    width: 100%;
    border: none;
    margin-top:55px
}

.preview-mobile {
    width: 375px;
    left: 50%;
    margin: auto;
}

/*iPh 6plus ...*/
.addMob{
    width: 375px !important;
}

header{
    position: relative;
}

.tmpViewMobile{
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.d-none {
    display:none !important
}


#chevronRight{
    animation: move-chevron 9s ease-out infinite;
}

#chevronRight:first-child {
  animation: move-chevron 9s ease-out 1s infinite;
}

#chevronRight:nth-child(2) {
  animation: move-chevron 9s ease-out 2s infinite;
}

#chevronRight:before {
 left: 0;
 transform: skewY(30deg);
}

#chevronRight:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}

.viewPort{
    width:100%;
}

.ft-modalM {
    position: absolute;
	top: 0;
	padding-top: 5px;
    z-index: 9999;
    overflow: auto;
    visibility: hidden;
	background: rgba(0,0,0,.8);

	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.ft-modalM:target {
	opacity: 1;
	visibility: visible;
}

.ft-modal-contentM {
	width: 70%;
    padding: 25px;
	background: #FFF;
	max-width: 600px;
	border-radius: 8px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.ft-modal {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
    z-index: 9999;
    overflow: auto;
	position: absolute;
    visibility: hidden;
	margin-top: -250px;
	background: rgba(0,0,0,.8);
	min-height: 100vh;

	transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.ft-modal:target {
	opacity: 1;
	margin-top: 0px;
	visibility: visible;
}

.ft-modal-content {
	width: 70%;
    padding: 25px;
	background: #FFF;
	max-width: 600px;
    margin: 70px auto;
	position: relative;
	border-radius: 8px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.responsive {
  width: 25%;
  height: auto;
}

.responsiveGame {
    top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.1;
    z-index: 9999;
    overflow: auto;
	position: absolute;
    width: 100%;
    height: auto;
}

.respGameDesc{
    width: 100% !important;
    height: auto;
}
li{
    list-style-type: none;
}

.imgGame{
  width: 25%;
  height: auto;
  margin: auto;
}

.coverHolder {
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.login-show{
    z-index: 1;

    opacity:1;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:50px;
}

.login-show input[type="button"] {
    background: #444444;
        color: #f9f9f9;
        text-transform: uppercase;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}

a{
  text-decoration:none;
  color:#2c7715;
}
